
.status-cell {
    padding: 5px 5px;
    height: 40px;
    text-align: center;
    color: white;
}

.status-disponivel {
    background-color: #06A11F;
}

.status-emprestado {
    background-color: #FE1515;
}

.action-button {
    margin-right: 5px;
}

table {
    overflow: hidden;
}

th,
td {
    padding: 10px;
    border: 1px solid #ccc;
}

.custom-tooltip .tooltip-inner {
    background-color: #fff; 
    color: #000; 
    border-radius: 8px; 
    padding: 8px; 
    font-size: 14px; 
}

.custom-tooltip {
    --bs-tooltip-bg: violet; 
    --bs-tooltip-color: #ffffff; 
  }
  